/* src/styles/CompanyDescription.css */

.company-description {
  padding: 2rem;
  background-color: #040F1A; /* Dark background */
  color: #ffffff; /* White text color */
  text-align: center;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-description p {
  font-size: 1.2rem;
  margin: 2rem 15rem;
}

.steps-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; /* Ensures responsive behavior */
  margin-top: 1rem;
}

.step {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: 2px solid #66FCF1; 
  border-radius: 8px;
  width: 260px; 
  transition: transform 0.8s ease, box-shadow 0.3s ease;
  opacity: 0; /* Start hidden */
}

.step:hover {
  box-shadow: 0 0 5px #66FCF1, 0 0 10px #66FCF1; /* Apply box-shadow on hover */
}

/* Animation for entering from left */
.step.left-enter {
  animation: fadeInLeft 1.1s forwards; /* Apply fade-in-left animation */
}

/* Animation for entering from right */
.step.right-enter {
  animation: fadeInRight 0.9s forwards; /* Apply fade-in-right animation */
}

@keyframes fadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-40px); /* Start slightly off-screen to the left */
  }
  to {
      opacity: 1;
      transform: translateX(0); /* End at normal position */
  }
}

@keyframes fadeInRight {
  from {
      opacity: 0;
      transform: translateX(40px); /* Start slightly off-screen to the right */
  }
  to {
      opacity: 1;
      transform: translateX(0); /* End at normal position */
  }
}

.step img {
  width: 120px;
  height: 100px;
  margin-top: 2rem;
}

.step h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.step p {
  margin: 1rem 0.5rem;
  font-size: 1.1rem;
}