/* src/styles/CompanyDescription.css */

.company-description {
  padding: 2rem;
  background-color: #040F1A;
  color: #ffffff;
  text-align: center;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-description p {
  font-size: 1.2rem;
  margin: 2rem 10%;
}

.steps-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.step {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: 2px solid #66FCF1;
  border-radius: 8px;
  width: 260px;
  transition: transform 0.8s ease, box-shadow 0.3s ease;
  opacity: 0; /* Start hidden */
  transform: translateY(30px);
}

/* Hover effect */
.step:hover {
  box-shadow: 0 0 5px #66FCF1, 0 0 10px #66FCF1;
}

/* Fade-in animations */
.step.left-enter {
  animation: fadeInLeft 0.8s forwards;
}

.step.right-enter {
  animation: fadeInRight 0.8s forwards;
}

/* Keyframe animations */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Step Content Styling */
.step img {
  width: 120px;
  height: 100px;
  margin-top: 2rem;
}

.step h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 1rem;
}

.step p {
  margin: 1rem 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
  .company-description p {
    margin: 1rem 5%;
  }

  .steps-container {
    flex-direction: column;
    align-items: center;
  }

  .step {
    width: 90%;
  }
}
