/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7E7E7;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    max-height: 80px;
  }
  
  .nav {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav .btn {
    background-color: transparent; /* Or your desired background color */
    border: 2px solid #040F1A;
    padding: 0.5rem 0.5rem;
    color: #040F1A;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.8 ease, box-shadow 0.8 ease; /*not working?*/
  }
  
  .nav .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #040F1A, 0 0 5px #66FCF1; 

  }
  
  .contact-button {
    background-color: #040F1A; 
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .contact-button:hover {
    box-shadow: 0 0 5px #66FCF1, 0 0 10px #66FCF1;
    background-color: #040F1A; /* Darker orange on hover */
    transform: scale(1.05); /* Slight zoom effect */
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  